---
import { fade } from "astro:transitions";
import { Button } from "@/components/ui/button";
---

<section id="cta" class="mt-48" transition:animate={fade({ duration: "0.6s" })}>
	<div class="px-6 lg:px-8">
		<div class="mx-auto max-w-2xl text-center">
			<p class="text-sm font-semibold text-violet-600 tracking-wide uppercase">sigloop account abstraction</p>
			<h2 class="mt-2 text-4xl font-semibold tracking-tight text-balance text-zinc-900 sm:text-5xl">learn more</h2>
			<p class="mx-auto mt-6 max-w-xl text-lg/8 text-pretty text-zinc-600">session keys, scoped permissions & native x402 payment automation,<br>the modern abstraction of web3 for a better user experience and security</p>
			<div class="mt-10 flex items-center justify-center gap-x-4">
				<a href="/whitepaper.pdf"><Button>whitepaper</Button></a>
				<a href="#introduction"><Button variant="outline">learn more <span aria-hidden="true">→</span></Button></a>
			</div>
		</div>
	</div>
</section>
