OPENAI_API_KEY=
CARD_BASE_URL=http://localhost:8787
CARD_SECRET=sgl_81edeecc-4f5d-44a5-881a-3d44ee01440a
API_BASE_URL=http://localhost:8788
API_KEY=sgapi_kuotx8f7psk8zcwnmmf2jxs4
OPENAI_MODEL=gpt-4o-mini
